<div id="sidebar">
	<ul>
		<li class="categories">
			<h4>Categories</h4>
			<ul>
				<li class="cat-item cat-item-21"><a href="http://txomon.com/category/cuaderno-de-bitacora/" title="Ver todas las entradas archivadas en Cuaderno de bitácora">Cuaderno de bitácora</a> (2)</li>
				<li class="cat-item cat-item-1"><a href="http://txomon.com/category/off-topic/" title="El off-topic de toda la vida">Off-topic</a> (6)</li>
				<li class="cat-item cat-item-3"><a href="http://txomon.com/category/tecnica/" title="Posts técnicos o que no son de interes general (normalmente)">Tecnicismos</a> (7)
				<ul class="children">
					<li class="cat-item cat-item-20"><a href="http://txomon.com/category/tecnica/automatizacion/" title="Ver todas las entradas archivadas en Automatización">Automatización</a> (1)</li>
					<li class="cat-item cat-item-6"><a href="http://txomon.com/category/tecnica/hallazgo/" title="Cosas que encuentro y que son interesantes">Hallazgos</a> (3)</li>
					<li class="cat-item cat-item-5"><a href="http://txomon.com/category/tecnica/programacion/" title="Sub categoria de programación">Programación</a> (4)</li>
				</ul>
			</li>
		</ul></li>
		<li>
			<h4>Archives</h4>
			<ul>
				<li><a href="http://txomon.com/2012/12/">diciembre 2012</a>&nbsp;(3)</li>
				<li><a href="http://txomon.com/2012/11/">noviembre 2012</a>&nbsp;(1)</li>
				<li><a href="http://txomon.com/2012/01/">enero 2012</a>&nbsp;(1)</li>
				<li><a href="http://txomon.com/2011/10/">octubre 2011</a>&nbsp;(3)</li>
				<li><a href="http://txomon.com/2011/09/">septiembre 2011</a>&nbsp;(4)</li>
			</ul>
		</li>
		<li><h4>Meta</h4>
			<ul>
				<li><a href="http://txomon.com/txomon/wp-login.php">Acceder</a></li>
				<li><a href="http://www.tammyhartdesigns.com/">Custom WordPress Design</a></li>
				<li><a href="http://wordpress.org/">WordPress</a></li>
			</ul>
		</li>
	</ul>
</div>